This notebook presents my interactive notes about pandas nicely formatted, organised and translated to english.

In [1]:
import os
from IPython.display import display

In [2]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Exploratory Data Analysis.ipynb',
 'kaggle',
 'Pandas.ipynb',
 'Pandas2.ipynb',
 'README.md',
 'StrataScratch Interview Questions.ipynb']

In [3]:
os.listdir('kaggle')

['olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

In [4]:
import pandas as pd
import gc

In [5]:
products = pd.read_csv('kaggle\olist_products_dataset.csv')

## Overall tips

using inplace=True is no faster tha using regular df = df.(...).

inplace=False should be used for live debugging, to see what changes our code made to data. (If size is significant all code should be developed and dested on smaller samples)

In [6]:
# use copy to not get reference, changing reference will change the data it is referencing to
temp = products.copy()
temp.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [7]:
temp = temp.set_index(['product_id']).head(3)
# indexed.set_index(['product_id'], inplace=True)
temp.head(3)

,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
product_id,,,,,,,,
1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

Normalized row and column selection

.drop(), .rename(), .reindex() can use argument axis=1/0 or 'column'/'row' to selecto columns and rows, or columns=() to select columns and index=() to select rows.

In [8]:
products.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [9]:
products.drop(0, axis='rows').head(3)
products.drop(index=(0)).head(3)
products.drop('product_id', axis='columns').head(3)
products.drop(columns=('product_id')).head(3)

,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

renaming

Smallest and biggest values

In [10]:
products.product_weight_g.nlargest(5)
products.product_weight_g.nsmallest(5)

9769     0.0
13683    0.0
14997    0.0
32079    0.0
9396     2.0
Name: product_weight_g, dtype: float64

Selecting rows belonging to 3 most popular categories

In [11]:
temp = products.product_category_name.value_counts()
products[products.product_category_name.isin(temp.nlargest(3).index)].head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
7,2548af3e6e77a690cf3eb6368e9ab61e,moveis_decoracao,56.0,184.0,2.0,900.0,40.0,8.0,40.0
10,14aa47b7fe5c25522b47b4b29c98dcb9,cama_mesa_banho,54.0,630.0,1.0,1100.0,16.0,10.0,16.0
13,7bb6f29c2be57716194f96496660c7c2,moveis_decoracao,51.0,2083.0,2.0,600.0,68.0,11.0,13.0
15,3bb7f144022e6732727d8d838a7b13b3,esporte_lazer,22.0,3021.0,1.0,800.0,16.0,2.0,11.0

## Dataframe

In [12]:
# adding new column (returns copy)
products.assign(product_weight_kg=products.product_weight_g/1000).head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_weight_kg
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,0.225
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,1.000
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,0.154

In [13]:
# list(products.items())[:2]
# list(products.iterrows())[:2]
# list(products.itertuples())[:2]

## .loc .iloc

It is better to use .loc[], or .iloc[] than regular []. In python language it is better to be explicit and do not leave room for assumptions.

.loc[] if for labels (also for index labels), .iloc[] for indexes.

In [14]:
# .loc/iloc[rows(index), columns]

In [15]:
products.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [16]:
products.loc[0:10, :].head(3)   # works because index labels are indexes

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [17]:
products.loc[:, 'product_weight_g':'product_width_cm'].head(3)

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0

In [18]:
# selects all rows and columns except the last one,
# usefull when the last column is target and we want to divide data to X and y
products.iloc[:, :-1].shape

(32951, 8)

In [19]:
# as arguments in can take anything, even a lambda function that returns series/ datafrane of rows/ columns to select
index_series = products['product_weight_g']<250 
products.loc[index_series, ['product_id', 'product_weight_g']].head()

                          product_id  product_weight_g
0   1e9e8ef04dbcff4541ed26657ea517e5             225.0
2   96bd76ec8810374ed1b65e291975717f             154.0
5   41d3672d4792049fa1779bb35283ed13             200.0
14  eb31436580a610f202c859463d8c7415             200.0
22  e3e020af31d4d89d2602272b315c3f6e              75.0

Reversing order of items and columns in dataframe

In [20]:
products.loc[::-1,::-1].head(3) #  .reset_index()

,product_width_cm,product_height_cm,product_length_cm,product_weight_g,product_photos_qty,product_description_lenght,product_name_lenght,product_category_name,product_id
32950,7.0,2.0,12.0,2083.0,1.0,309.0,58.0,cama_mesa_banho,106392145fca363410d287a815be6de4
32949,20.0,13.0,31.0,700.0,2.0,156.0,60.0,informatica_acessorios,83808703fc0706a22e264b9d75f04a2e
32948,27.0,7.0,27.0,1400.0,1.0,799.0,50.0,cama_mesa_banho,9a7c6041fa9592d9d9ef6cfe62a71f8c

After deprecation of ix tricks can be used to select suing labels and positions at the same itme.

,product_id,product_name_lenght,product_photos_qty,product_length_cm,product_width_cm
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,1.0,30.0,20.0
2,96bd76ec8810374ed1b65e291975717f,46.0,1.0,18.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,27.0,1.0,26.0,26.0

## Multiindex

In [22]:
products.product_weight_g.describe()

count    32949.000000
mean      2276.472488
std       4282.038731
min          0.000000
25%        300.000000
50%        700.000000
75%       1900.000000
max      40425.000000
Name: product_weight_g, dtype: float64

In [23]:
def categorise_weight(row):  
    if row['product_weight_g'] <= 500:
        return 'light'
    elif row['product_weight_g'] > 500 and row['product_weight_g'] <= 1900 :
        return 'medium'
    elif row['product_weight_g'] > 1900:
        return 'heavy'

In [24]:
products['weight_category'] = products.apply(lambda row: categorise_weight(row), axis=1)

In [25]:
# temp = products.set_index(['product_category_name', 'weight_category'])
temp = products.set_index(['product_category_name', 'weight_category']).sort_index()
temp.head()

                                                                 product_id  \
product_category_name     weight_category
agro_industria_e_comercio heavy            07f01b6fcacc1b187a71e5074199db2d
                          heavy            51d1db0b0ed8fee9994a5bae549a6160
                          heavy            0b2a1288e8ba64c797e7586c8df75602
                          heavy            3e3f442db862cb6fe99389a41b7acb84
                          heavy            423a6644f0aa529e8828ff1f91003690

                                           product_name_lenght  \
product_category_name     weight_category
agro_industria_e_comercio heavy                           39.0
                          heavy                           41.0
                          heavy                           38.0
                          heavy                           60.0
                          heavy                           54.0

                                           product_description_lenght  \
product_category_name     weight_category
agro_industria_e_comercio heavy                                 430.0
                          heavy                                 288.0
                          heavy                                 397.0
                          heavy                                 638.0
                          heavy                                2352.0

                                           product_photos_qty  \
product_category_name     weight_category
agro_industria_e_comercio heavy                           1.0
                          heavy                           1.0
                          heavy                           1.0
                          heavy                           6.0
                          heavy                           3.0

                                           product_weight_g  \
product_category_name     weight_category
agro_industria_e_comercio heavy                     16400.0
                          heavy                      5047.0
                          heavy                      3450.0
                          heavy                     12800.0
                          heavy                      5800.0

                                           product_length_cm  \
product_category_name     weight_category
agro_industria_e_comercio heavy                         63.0
                          heavy                         58.0
                          heavy                         33.0
                          heavy                         67.0
                          heavy                         30.0

                                           product_height_cm  product_width_cm
product_category_name     weight_category
agro_industria_e_comercio heavy                         66.0              56.0
                          heavy                         44.0              28.0
                          heavy                         36.0              33.0
                          heavy                         57.0              30.0
                          heavy                         30.0              20.0

Additional index adds additional dimensionality to data. Series with double index can be thought of as 2d dataframe.

To locate multi index using .loc[] we pass it in tuple()

In [26]:
# !To do - read about this warning
temp.index.is_monotonic_increasing

False

In [27]:
temp.loc[('perfumaria'), :]  # perfumeria from first index and any value from second
temp.loc[('perfumaria', 'medium'), :]  # perfumeria from first index and medium from second

C:\Users\barto\AppData\Local\Temp\ipykernel_17600\1073928040.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  temp.loc[('perfumaria', 'medium'), :]  # perfumeria from first index and medium from second

                                                             product_id  \
product_category_name weight_category
perfumaria            medium           828fe032935d7c1901682e5b6cc076c2
                      medium           dc582e9ac5036846acfeeb3093b17aa7
                      medium           3488d2ce36e718097c1509444289ef7f
                      medium           ff7ac89ca5b77d0fb5f8a65262d73956
                      medium           c51dc74a8b5018e82e9e44ef4b647227
...                                                                 ...
                      medium           278f4a3ec9c377c2ed98f3256834690c
                      medium           6186a25dd2b885087bbf0863e5245d46
                      medium           8b13342c7e5cfac764027523312cdf74
                      medium           33bfc11487d18d2405f84661bc164f0f
                      medium           8b513669b649b09d186312b0406e68c8

                                       product_name_lenght  \
product_category_name weight_category
perfumaria            medium                          48.0
                      medium                          50.0
                      medium                          40.0
                      medium                          46.0
                      medium                          60.0
...                                                    ...
                      medium                          23.0
                      medium                          30.0
                      medium                          41.0
                      medium                          39.0
                      medium                          33.0

                                       product_description_lenght  \
product_category_name weight_category
perfumaria            medium                               1063.0
                      medium                                749.0
                      medium                               1176.0
                      medium                                483.0
                      medium                                418.0
...                                                           ...
                      medium                                386.0
                      medium                                253.0
                      medium                                225.0
                      medium                                387.0
                      medium                                223.0

                                       product_photos_qty  product_weight_g  \
product_category_name weight_category
perfumaria            medium                          2.0             600.0
                      medium                          1.0            1300.0
                      medium                          1.0             514.0
                      medium                          1.0            1000.0
                      medium                          1.0             650.0
...                                                   ...               ...
                      medium                          1.0             550.0
                      medium                          1.0             900.0
                      medium                          1.0             900.0
                      medium                          1.0             545.0
                      medium                          1.0             700.0

                                       product_length_cm  product_height_cm  \
product_category_name weight_category
perfumaria            medium                        20.0               20.0
                      medium                        22.0               14.0
                      medium                        18.0               12.0
                      medium                        20.0               14.0
                      medium                        16.0               10.0
...                                                  ...                ...
                      medium                        20.0               16.0
                      medium                        35.0                5.0
                      medium                        16.0               16.0
                      medium                        21.0               14.0
                      medium                        20.0               20.0

                                       product_width_cm
product_category_name weight_category
perfumaria            medium                       20.0
                      medium                       14.0
                      medium                       15.0
                      medium                       13.0
                      medium                       11.0
...                                                 ...
                      medium                       16.0
                      medium                       27.0
                      medium                       11.0
                      medium                       17.0
                      medium                       20.0

[196 rows x 8 columns]

In [28]:
# temp.loc[0:10, :].head(3)  # doesn't work
temp.iloc[0:10, :].head(3)  # works because selects based on index index, not on index labels

                                                                 product_id  \
product_category_name     weight_category
agro_industria_e_comercio heavy            07f01b6fcacc1b187a71e5074199db2d
                          heavy            51d1db0b0ed8fee9994a5bae549a6160
                          heavy            0b2a1288e8ba64c797e7586c8df75602

                                           product_name_lenght  \
product_category_name     weight_category
agro_industria_e_comercio heavy                           39.0
                          heavy                           41.0
                          heavy                           38.0

                                           product_description_lenght  \
product_category_name     weight_category
agro_industria_e_comercio heavy                                 430.0
                          heavy                                 288.0
                          heavy                                 397.0

                                           product_photos_qty  \
product_category_name     weight_category
agro_industria_e_comercio heavy                           1.0
                          heavy                           1.0
                          heavy                           1.0

                                           product_weight_g  \
product_category_name     weight_category
agro_industria_e_comercio heavy                     16400.0
                          heavy                      5047.0
                          heavy                      3450.0

                                           product_length_cm  \
product_category_name     weight_category
agro_industria_e_comercio heavy                         63.0
                          heavy                         58.0
                          heavy                         33.0

                                           product_height_cm  product_width_cm
product_category_name     weight_category
agro_industria_e_comercio heavy                         66.0              56.0
                          heavy                         44.0              28.0
                          heavy                         36.0              33.0

##

## Nans | Missing Values

df.dropna() drops missing values. Arugments:
* axis= axis
* subset=[] list of columns to look in for missing values
* how='any'/'all' how many values need to be missing in order to delete it
* treshold='' count on missing vlaues in order to delete it
* inplace=

In [29]:
products.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
weight_category                 2
dtype: int64

In [30]:
# products.dropna()

Na and null are the same thing, these methods do the same thing .isna() & .isnull(), .notna() & .notnull()

df.fillna() fills missing values, arguments:
* value= one value, {'columns' :'values}, often numpy and pd functions are used
* method= 'backfill' to fill using next observation 'ffill' to fill using previous observation
* axis=
* inplace=

!To do - interpolation

## Duplicated Values

df.duplicated()
* subset=[] where to look
* keep='first', 'last', False to show all duplicates

In [31]:
temp = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 5, 15, 5]
})
temp

     brand style  rating
0  Yum Yum   cup       4
1  Yum Yum   cup       4
2  Indomie   cup       5
3  Indomie  pack      15
4  Indomie  pack       5

In [32]:
temp[temp.duplicated(keep=False)]

     brand style  rating
0  Yum Yum   cup       4
1  Yum Yum   cup       4

.drop_duplicates has the same arguments plus ignore_index that if set to True reindexes rwos after removing duplicates

In [33]:
temp.drop_duplicates(keep='last', ignore_index=True)

     brand style  rating
0  Yum Yum   cup       4
1  Indomie   cup       5
2  Indomie  pack      15
3  Indomie  pack       5

## Aggregation

## Options

Using options:

In [34]:
# pd.describe_option()  # describe all options
# pd.describe_option('display.width')  # describes selected option

In [35]:
pd.get_option('display.width')  # get current option value

80

In [36]:
# pd.set_option('display.width', 40)
# reset_option('display.width')
# reset_option('all')  # resets all options

with pd.option_context('display.max_rows', 4, 'display.max_columns', 5):
    display(products)

,product_id,product_category_name,...,product_width_cm,weight_category
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,...,14.0,light
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,...,20.0,medium
...,...,...,...,...,...
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,...,20.0,medium
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,...,7.0,heavy